<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <a class="k-button k-button-primary k-button-expand  k-button-md k-rounded-md  " id="register" href="~/User/Index">Girş Yap</a>
    </hgroup>
</body>
</html>
