
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Aradğınız Sayfa bulunamadı</h1>
        <h2>Beklenmedik Bir hata ile karşılaştık.Aradığımız Sayfa Bulunamadı!!!!!</h2>
    </hgroup>
</body>
</html>
