@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="~/Content/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2021.2.616/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2021.2.616/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2021.2.616/kendo.default.mobile.min.css" rel="stylesheet" />

</head>
<body class="hold-transition login-page">
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block ">
                                <img src="~/Content/img/undraw_profile.svg" />
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <div class="k-notification-content k-notification-container" id="validation-summary">
                                    </div>
                                    <form id="ticketsForm">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   name="Email" aria-describedby="emailHelp" id="UserName"
                                                   placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="password"
                                                   name="Password" placeholder="Password">
                                        </div>
                                    </form>
                                    <input type="button" id="login" class="btn btn-primary btn-user btn-block" value="Login" />


                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/User/Register">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.login-box -->
    <script src="~/Scripts/kendo/2021.2.616/jquery.min.js"></script>
    <script src="~/Scripts/kendo/2021.2.616/kendo.web.min.js"></script>
    <script src="~/Scripts/kendo/2021.2.616/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/kendo/2021.2.616/kendo.all.min.js"></script>

</body>
</html>


<script type="text/javascript">
    $(document).ready(function () {
        var validator = $("#ticketsForm").kendoValidator().data("kendoValidator");
        var validationSummary = $("#validation-summary");

        $("#login").click(function () {

            var data = new Object();
            data.UserName = $('#UserName').val();
            data.Password = $('#password').val();
            var durum = 0;
            $.ajax({
                type: "POST",
                url: '/User/Index',
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    if (data) {
                       /* validationSummary.html("<div class='k-messagebox k-messagebox-success'>Giriş İşlemi Başarı Bir Şekilde Gerçekleşti</div>");*/
                        window.location.href = "/Student/Index";
                    }
                    else {
                        validationSummary.html("<div class='k-messagebox k-messagebox-error'>Giriş İşlemi Başarısız Lütfen Bilgilerinizi Kontrol Ediniz</div>");


                    }
                },
                error: function Error() {
                    alert("eror")
                }
            });
        });
    });


</script>
